{% extends 'base3.html.twig' %}

{% block title %}Modifier Tournoi{% endblock %}
{% block main %}

    <div class="main-content">
        <section class="section">
            <div class="section-body">

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Modifier Tournoi</h4>
                        </div>
                        <div class="card-body">

                            <div>

                                {{ include('tournoi/_form.html.twig', {'button_label': 'Modifier'}) }}
                                {{ include('tournoi/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
                            </div>


                        </div>
                        <a href="{{ path('tournoi_index') }}"class="badge badge-info">Retour à liste</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}





