{% extends 'base2.html.twig' %}

{% block title %}Produit Front{% endblock %}

 {% block section1 %}
<div id="wrapper">
    <header id="header">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled align-left menu-head">
                            <li><i class="flaticon-old-handphone"></i>(+200) 123 456 7890</li>
                            <li><i class="flaticon-black-back-closed-envelope-shape"></i>24X7 Customer Care</li>
                        </ul>
                        <div class="menu-1">
                            <i class="flaticon-menu-1"></i>
                        </div>
                        <ul class="list-unstyled align-right home list-navigation">
                            <li class="drop drop_list"><a href="#">HOME</a>
                                <ul class="list-unstyled drop-down nav">
                                    <li><a href="index.html">HOME1 </a></li>
                                    <li><a href="index_2.html">HOME2 </a></li>
                                    <li><a href="index_3.html">HOME3</a></li>
                                    <li><a href="index_4.html">HOME4</a></li>
                                    <li><a href="index_5.html">HOME5</a></li>
                                </ul>
                            </li>
                            <li class="drop drop_list"><a href="#">PAGES</a>
                                <ul class="list-unstyled drop-down nav">
                                    <li><a href="product_categories_1.html">PRODUCT CATEGORIES 1</a></li>
                                    <li><a href="product_categories_2.html">PRODUCT CATEGORIES 2</a></li>
                                    <li><a href="product_categories_3.html">PRODUCT CATEGORIES 3</a></li>
                                    <li><a href="product_categories_4.html">PRODUCT CATEGORIES 4</a></li>
                                    <li><a href="product_single.html">PRODUCT SINGLE </a></li>
                                    <li><a href="product_single_2.html">PRODUCT SINGLE 2</a></li>
                                    <li><a href="blog_categories.html">BLOG CATEGORIES </a></li>
                                    <li><a href="blog_single.html">BLOG SINGLE</a></li>
                                    <li><a href="cart_page.html">CART PAGE</a></li>
                                    <li><a href="order_finish_page.html">ORDER FINISH</a></li>
                                    <li><a href="shopping_checkout.html">SHOPPING CHECKOUT</a></li>
                                    <li><a href="login.html">LOGIN</a></li>
                                    <li><a href="signup_page.html">SIGNUP</a></li>
                                    <li><a href="contact_us.html">CONTACT US</a></li>
                                    <li><a href="404_error.html">404 ERROR</a></li>
                                </ul>
                            </li>
                            <li><a href="blog_categories.html">BLOG</a></li>
                            <li><a href="contact_us.html">CONTACT US</a></li>
                            <li><a href="login.html">LOGIN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-top-nav">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="images/logo-nav3.png" alt="" class="img-fluid">
                                </a>
                            </div>
                            <!-- end-->
                            <div class="list-nav-menu">
                                <span>All Categories</span>
                                <i class="flaticon-menu-1"></i>
                            </div>
                            <div class="list-nav">
                                <ul class="list-unstyled">
                                    <li class="drop"><a href="#">SHOES</a>
                                        <ul class="list-unstyled drop-down">
                                            <li><a href="#">INDOOR SHOES </a></li>
                                            <li><a href="#">OUTDOOR SHOES </a></li>
                                            <li><a href="#">SPORTS SHOES</a></li>
                                            <li><a href="#">REGULAR SHOES</a></li>
                                            <li><a href="#">INDOOR SHOES </a></li>
                                        </ul>
                                    </li>
                                    <li class="drop-megamenu"><a href="#">INDOOR SPORTS</a>
                                        <div class="mega-menu-content">
                                            <div class="menu-a">
                                                <div class="mega-content col_a">
                                                    <h2>BADMINTON</h2>
                                                    <ul>
                                                        <li><a href="product_categories_1.html">Badminton Rackets</a></li>
                                                        <li><a href="product_categories_2.html">Feather Shuttlecocks</a></li>
                                                        <li><a href="product_categories_3.html">Nylon Shuttlecocks</a></li>
                                                        <li><a href="product_categories_4.html">Badminton Grips</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mega-content col_b">
                                                    <h2> TABLE TENNIS </h2>
                                                    <ul>
                                                        <li><a href="product_categories_1.html">Badminton Rackets</a></li>
                                                        <li><a href="product_categories_2.html">Feather Shuttlecocks</a></li>
                                                        <li><a href="product_categories_3.html">Nylon Shuttlecocks</a></li>
                                                        <li><a href="product_categories_4.html">Badminton Grips</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mega-content col_c">
                                                    <h2>SQUASH </h2>
                                                    <ul>
                                                        <li><a href="product_categories_1.html">Squash Rackets</a></li>
                                                        <li><a href="product_categories_2.html">Squash Balls</a></li>
                                                        <li><a href="product_categories_3.html">Squash Strings</a></li>
                                                        <li><a href="product_categories_4.html">Squash Goggles</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mega-content  col_d">
                                                    <h2> SNOOKER</h2>
                                                    <ul>
                                                        <li><a href="product_categories_1.html">Snooker Cues</a></li>
                                                        <li><a href="product_categories_2.html">Snooker Balls</a></li>
                                                        <li><a href="product_categories_3.html">Snooker Tables</a></li>
                                                        <li><a href="product_categories_4.html">Snooker Ball</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mega-content col_e">
                                                    <h2>BILLIARDS</h2>
                                                    <ul>
                                                        <li><a href="product_categories_1.html">pool Cues</a></li>
                                                        <li><a href="product_categories_2.html">pool Balls</a></li>
                                                        <li><a href="product_categories_3.html">pool Tables</a></li>
                                                        <li><a href="product_categories_4.html">pool Ball</a></li>
                                                    </ul>
                                                </div>
                                                <div class="menu-c">
                                                    <div class="product-menu">
                                                        <a href="#">
                                                            <img src="images/mega-img1.jpg" alt="" class="img-fluid">
                                                            <div class="mega-off">
                                                                <h2>60% OFF</h2>
                                                                <h3>OUTDOOR</h3>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="product-menu stl2">
                                                        <a href="#">
                                                            <img src="images/mega-img2.jpg" alt="" class="img-fluid">
                                                            <div class="mega-off">
                                                                <h2>20% OFF</h2>
                                                                <h3>NEW SELL</h3>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu-b">
                                                <div class="product-menu stl3">
                                                    <a href="#">
                                                        <img src="images/mega-img3.jpg" alt="" class="img-fluid">
                                                        <div class="mega-off">
                                                            <h2>50% </h2>
                                                            <h3>Discount<br>offer</h3>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#">OUTDOOR SPORTS</a></li>
                                    <li><a href="#">GYM AND FITNESS</a></li>
                                    <li><a href="#">SPORTS ACCESSORIES</a></li>
                                    <li><a href="#">INFRASTRUCTURE</a></li>
                                </ul>
                                <!--list unstyled end-->
                            </div>
                            <div class="cart-nav">
                                <ul>
                                    <li><a href="#"><i class="flaticon-like"></i></a></li>
                                    <li><a href="#"><i class="flaticon-shopping-bag"></i></a>
                                        <div class="cart-items">
                                            <div class="inner-wrapper">
                                                <div class="cart-product-detail">
                                                    <div class="img-holder">
                                                        <img src="images/cart-prod1.png" alt="..." class="img-fluid">
                                                    </div>
                                                    <div class="cart-product-info">
                                                        <a href="#"><h4 class="text-uppercase">Icominer F9+ 10.5N</h4></a>
                                                        <p>F9+ 10.5N</p>
                                                        <p class="price">$147.00</p>
                                                    </div>
                                                    <a href="#" class="remove-it"><i class="fa fa-times"></i></a>
                                                </div>
                                                <div class="cart-product-detail">
                                                    <div class="img-holder">
                                                        <img src="images/cart-prod1.png" alt="..." class="img-fluid">
                                                    </div>
                                                    <div class="cart-product-info">
                                                        <a href="#"><h4 class="text-uppercase">Icominer F9+ 10.5N</h4></a>
                                                        <p>F9+ 10.5N</p>
                                                        <p class="price">$147.00</p>
                                                    </div>
                                                    <a href="#" class="remove-it"><i class="fa fa-times"></i></a>
                                                </div>
                                                <div class="total-p">
                                                    <div class="img-holder">
                                                        <p class="price">Total :</p>
                                                    </div>
                                                    <div class="cart-product-info">
                                                        <p class="price">$294.00</p>
                                                    </div>
                                                </div>
                                                <a href="#" class="checkout-btn">checkout</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#" id="search-opener"><i class="flaticon-search"></i></a></li>
                                </ul>
                            </div>
                            <!--cart nav end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="search-item">
        <button class="close-btn btn">
            <i class="fa fa-times"></i>
        </button>
        <form>
            <div class="search-block">
                <input type="text" placeholder="Search Item" class="search-text form-control" />
                <span></span>
                <i class="flaticon-search"></i>
            </div>
        </form>
    </div>
    <!--header end-->
    <section class="product-info">
        <div class="overlay"></div>
        <div class="fixed-bg" style="background: url('images/product-cate.jpg');"></div>
        <div class="container">
            <div class="product-menu">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">All Product</a></li>
                </ol>
                <h4><a href="#">All Product</a></h4>
            </div>
        </div>
    </section>
    <!--product-info-->
    <div class="free-shipping-a cart ptb-90">
        <div class="container-fluid">
            <div class="row justify-contect-center">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="shipping-a">
                        <div class="overlay"></div>
                        <div class="fixed-bg" style="background:url('images/pr1.jpg')"></div>
                        <div class="inner-shipping">
                            <span>step 01</span>
                            <span class="spn">shopping cart</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shipping-a">
                        <div class="overlay"></div>
                        <div class="fixed-bg" style="background:url('images/pr1.jpg')"></div>
                        <div class="inner-shipping">
                            <span>step 02</span>
                            <span class="spn">check out</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shipping-a">
                        <div class="overlay"></div>
                        <div class="fixed-bg" style="background:url('images/pr1.jpg')"></div>
                        <div class="inner-shipping">
                            <span>step 03</span>
                            <span class="spn">order finesh</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---free shipping-a-->
    <section class="cart-block wfp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive wfp">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="t-product">Product</th>
                                <th class="t-price">Price</th>
                                <th class="t-quantity">Quantity</th>
                                <th class="t-total">total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="t-product">
                                    <div class="cart-product-detail">
                                        <div class="img-holder">
                                            <img src="images/cart1.png" alt="..." class="img-fluid">
                                            <div class="overlay"></div>
                                            <a href="#" class="search-icon"><i class="fa fa-search"></i></a>
                                        </div>
                                        <div class="cart-product-info">
                                            <h4><a href="#">Badminton Racket</a></h4>
                                            <p>Product ID :</p>
                                            <span>#201546</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="t-price">$16</td>
                                <td class="t-quantity">
                                    <div class="quantity">
                                        <div class="quantity-button quantity-down"><i class="flaticon-substract"></i></div>
                                        <input type="number" class="form-control text-center" value="01" min="0">
                                        <div class="quantity-button quantity-up"><i class="flaticon-add"></i></div>
                                    </div>
                                </td>
                                <td class="t-total">$36<a href="#"><i class="flaticon-cancel-button"></i></a></td>
                            </tr>
                            <tr>
                                <td class="t-product">
                                    <div class="cart-product-detail">
                                        <div class="img-holder">
                                            <img src="images/cart2.png" alt="..." class="img-fluid">
                                            <div class="overlay"></div>
                                            <a href="#" class="search-icon"><i class="fa fa-search"></i></a>
                                        </div>
                                        <div class="cart-product-info">
                                            <h4><a href="#">Badminton Racket</a></h4>
                                            <p>Product ID :</p>
                                            <span>#201546</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="t-price">$16</td>
                                <td class="t-quantity">
                                    <div class="quantity">
                                        <div class="quantity-button quantity-down"><i class="flaticon-substract"></i></div>
                                        <input type="number" class="form-control text-center" value="01" min="0">
                                        <div class="quantity-button quantity-up"><i class="flaticon-add"></i></div>
                                    </div>
                                </td>
                                <td class="t-total">$36<a href="#"><i class="flaticon-cancel-button"></i></a></td>
                            </tr>
                            <tr>
                                <td class="t-product">
                                    <div class="cart-product-detail">
                                        <div class="img-holder">
                                            <img src="images/cart3.png" alt="..." class="img-fluid">
                                            <div class="overlay"></div>
                                            <a href="#" class="search-icon"><i class="fa fa-search"></i></a>
                                        </div>
                                        <div class="cart-product-info">
                                            <h4><a href="#">Badminton Racket</a></h4>
                                            <p>Product ID :</p>
                                            <span>#201546</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="t-price">$16</td>
                                <td class="t-quantity">
                                    <div class="quantity">
                                        <div class="quantity-button quantity-down"><i class="flaticon-substract"></i></div>
                                        <input type="number" class="form-control text-center" value="01" min="0">
                                        <div class="quantity-button quantity-up"><i class="flaticon-add"></i></div>
                                    </div>
                                </td>
                                <td class="t-total">$36<a href="#"><i class="flaticon-cancel-button"></i></a></td>
                            </tr>
                            <tr>
                                <td class="t-product">
                                    <div class="cart-product-detail">
                                        <div class="img-holder">
                                            <img src="images/cart4.png" alt="..." class="img-fluid">
                                            <div class="overlay"></div>
                                            <a href="#" class="search-icon"><i class="fa fa-search"></i></a>
                                        </div>
                                        <div class="cart-product-info">
                                            <h4><a href="#">Badminton Racket</a></h4>
                                            <p>Product ID :</p>
                                            <span>#201546</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="t-price">$16</td>
                                <td class="t-quantity">
                                    <div class="quantity">
                                        <div class="quantity-button quantity-down"><i class="flaticon-substract"></i></div>
                                        <input type="number" class="form-control text-center" value="01" min="0">
                                        <div class="quantity-button quantity-up"><i class="flaticon-add"></i></div>
                                    </div>
                                </td>
                                <td class="t-total">$36<a href="#"><i class="flaticon-cancel-button"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}