{% extends 'base3.html.twig' %}

{% block title %}Ajouter Match{% endblock %}

{% block main %}
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Ajouter nouveau match</h4>
                    </div>
                    <div class="card-body">

    {{ include('matchs/_form.html.twig') }}
                    </div>
                    <a href="{{ path('matchs_index') }}" class="badge badge-primary">Retour à la liste</a>
                </div>

            </div>

        </div>


    </section>
</div>
    {{ form_end(form) }}

{% endblock %}





