#header .header-area,
.btn, .block-stl1 .btn-sec-a .btn1,
.owl-next, .owl-prev,
.owl-next:hover, .owl-prev:hover,
.owl-theme .owl-nav [class*='owl-'],
.copy-right,
.summer-offer .overlay,
.deal-count a,
.owl-theme .owl-nav [class*='owl-']:hover,
.shipping-a:hover .overlay,
#search-item .search-block span:before,
.subscribe-frm button,
.go-to-top,
.cart-nav ul li .cart-items a.remove-it i.fa.fa-times,
.cart-nav ul li .cart-items .inner-wrapper:before,
.drop .drop-down:before,
.cart-nav .checkout-btn,
.collec-bst-img:hover .overlay,
.summer-offer .overlay,
.client-sec .overlay,
.owl-next,
.owl-prev ,
.owl-theme .owl-nav [class*='owl-'] ,
.owl-theme .owl-nav [class*='owl-']:hover ,
.owl-next:hover,
.owl-prev:hover,
.popular-treadmils .owl-next,
.popular-treadmils .owl-prev,
.off-sec:hover .overlay,
.page-info .page-link:hover,
.page-info button:hover,
.home9 .l-view .mix .block-stl1 .btn-sec-a .btn1:hover,
.list_grid_view .l-view .mix .block-stl1 .btn-sec-a .btn1:hover,
.prod-tab .nav-item .active,
.quantity-button.quantity-up:hover,
.quantity-button.quantity-down:hover,
.discount-sec  .discount-cupon .btnr:hover,
.checkout-block .deliv-add .btn:hover,
.address-info .btn:hover,
.address-info .btn,
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
.address-info a:hover,
.comment-block .leave-comments-block .text-block a,
.map-area,
.map-btn-a .btn-a span ,
.img-holder-error,
.discount-sec .discount-cupon .btn.stl1.stl2.stl3,
.discount-sec  .discount-cupon .btnr,
.home11 .prod-single-info .btn:hover,
.list_grid_view .l-view .mix .block-stl1 .btn-sec-a .btn1,
.block-stl_1 .btn-sec-a .btn1,
.block-stll24 .overlay:hover,
.page13 .btn-primary:not(:disabled):not(.disabled):active,
.loader_wrapper {
  background-color:#ac2d34; 
}
.block-stl1:hover .img-holder,
.top-sell .btn-group button.is-checked, .top-sell .btn-group button:hover,
.list-nav .list-unstyled .active.drop .drop-down,
.list-nav .list-unstyled .drop-megamenu>.mega-menu-content,
.block-stl1 .btn-sec-a .btn1,
.top-seller .btn.stl2:hover,
.subscribe-frm button:hover,
.cart-nav  ul li .cart-items .inner-wrapper,
.cart-nav .checkout-btn:hover,
.drop .drop-down ,
.top-sell .btn-group button.is-checked, .top-sell .btn-group button:hover,
.list-unstyled.align-right.home.list-navigation .drop-down,
.cart-nav .checkout-btn,
.subscribe-frm .form-control:focus,
.comment-block .leave-comments-block.comment-frm  .form-control:focus,
.login .paswrd .form-control:focus,
.block-stl_1 .btn-sec-a .btn1,
.block-stl_1:hover .img-holder,
.block-stl_1 .btn-sec-a .btn1:hover,
.blog-categories-block .categories-info-blog input:focus,
.comment-block .leave-comments-block.comment-frm .btn:hover,
.prod-single-info .stl2:hover,
.prod-single.home11 .btn.stl1:hover,
.list_grid_view .l-view .mix .block-stl1 .btn-sec-a .btn1:hover,
.page13 .btn-primary:not(:disabled):not(.disabled):active,
.nav-d .img-blk:hover,
.nav-d.is-active .img-blk,
.top-seller .btn.stl2,
.text-block-new .btn-r,
.subscribe-frm button,
.treadmil-div .btn-r1 {
   border-color:  #ac2d34 ;
}

.block-stl1 .btn-sec span,
.off-sec .inner-shipping .inner-shipp span,
.footer-content ul li a:hover,
.treadmil-div p span:nth-child(2),
.client-sec .client .owl-next:hover, .client-sec .client .owl-prev:hover,
.top-sell .btn-group button.is-checked, .top-sell .btn-group button:hover,
.mega-menu-content .mega-content a:hover,
.list-nav .list-unstyled a:hover,
.btn:hover,
.block-stl1 .btn-sec-a .btn1:hover,
.top-seller .btn.stl2:hover,
.subscribe-frm button:hover,
.cart-nav ul li .cart-items .cart-product-detail .cart-product-info .price,
.cart-nav ul li .cart-items .total-p .cart-product-info .price,
.cart-nav .checkout-btn:hover,
#header .header-area .align-right li.drop .drop-down li a:hover,
.banner-a .offer.stl2 span:nth-child(1),
.go-to-top i:before,
.block-stl1 .h-pd span,
.best-grid a.active i:before,
#header .header-area .align-right.home i,
.main-top-nav ul li.drop>i, .main-top-nav ul li.drop-megamenu>i,
.client-sec .client .owl-next:hover, 
.client-sec .client .owl-prev:hover ,
.banner h1,
.subscribe-frm .form-control:focus,
.list-nav .list-unstyled a:hover,
.list_grid_view .l-view .mix .block-stl1 .btn-sec .p33 a:hover,
input[type="checkbox"] + label:hover,
.product-info .product-menu ol li a:hover,
.list-nav .list-unstyled a:hover,
.p22 span,
.cart-block .table .cart-product-detail .cart-product-info span,
.discount-sec .discount-cupon .br,
.discount-sec .discount-cupon .br2,
.form-login .paswrd .sub-frm a,
.order-finish-block tr .t-product.btr .li-prod,
.cmn-block1 a:hover,
.cmn-block1 a:hover i:before,
.cmn-block1.recent-tweet-block a:hover i:before,
.cmn-block1.recent-tweet-block .post-block-b h3,
.comment-block .text-comment i:before,
.comment-block .text-comment span a,
.comment-block .tag-info a,
.comment-block .leave-comments-block .text-block h3,
.comment-block .leave-comments-block.comment-frm .btn:hover,
.prod-single.home11 .btn.stl1:hover,
.prod-single-info .stl2:hover,
.home11.prod-single .stl2:hover i:before,
.block-stl_1 .btn-sec-a .btn1:hover,
.blog-categories-block .text-block-new a:hover,
.blog-categories-block .text-block-new li:hover i:before,
.comment-block .text-info .tag-info h6:hover,
.comment-block .leave-comments-block .comment-info-blog .text-block:hover h5,
.text-block-new h2:hover,
.prod-single .stl2:hover i:before,
.recent-post .post-block-b h3,
.product-menu h4 a:hover,
#map div#content a {
 	color:#ac2d34; 
}
@media screen and (max-width: 563px){
	.top-sell .btn-group button.is-checked,
	.top-sell .btn-group button:hover {
		background: #ac2d34; 
		border-color: #ac2d34;
	}
}

