<form method="post" action="{{ path('materiel_delete', {'idMateriel': materiel.idMateriel}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materiel.idMateriel) }}">
    <button class="btn">Delete</button>
</form>
