
<h1>bonjour ! bienvenue cher matchup!</h1>

<p>
    veuillez cliquer sur le lien pour vous connecter: <br><br>
    <a href="{{ signedUrl|raw }}">MatchUp</a>.
    <!--This link will expire in  expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.-->
</p>

<p>
    ✅
</p>
