<form method="post" action="{{ path('reservationparking_delete', {'idrsvparking': reservationparking.idrsvparking}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservationparking.idrsvparking) }}">
    <button class="btn">Delete</button>
</form>
