{% extends 'base3.html.twig' %}

{% block title %}New Parking{% endblock %}

{% block main %}

    <div class="main-content">
        <section class="section">
            <div class="section-body">

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Create new Parking</h4>
                        </div>
                        <div class="card-body">


                            {{ include('parking/_form.html.twig') }}


                        </div>
                        <a href="{{ path('parking_index') }}"class="badge badge-info">retour</a>
                    </div>

                </div>

            </div>


        </section>
    </div>



{% endblock %}






